<section id="contact-us" class="contact-us section">
  <div class="container">
      <div class="contact-head">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="form-main">
              <div class="title">
                <h4>Entrer en contact</h4>
                <h3>Écrivez-nous un message</h3>
              </div>
              <form class="form" method="post" action="mail/mail.php">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>votre nom<span>*</span></label>
                      <input name="name" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Vos sujets<span>*</span></label>
                      <input name="subject" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Votre e-mail<span>*</span></label>
                      <input name="email" type="email" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Ton téléphone<span>*</span></label>
                      <input name="company_name" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group message">
                      <label>votre message<span>*</span></label>
                      <textarea name="message" placeholder=""></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group button">
                      <button type="button" class="btn ">Envoyer le message</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="single-head">
              <div class="single-info">
                <i class="fa fa-phone"></i>
                <h4 class="title">Appelez-nous maintenant&nbsp;:</h4>

                <ul>

                  <li> <h5> <span class="text-dark">France</span> <small class="text-success">: +33 6 15 08 23 39</small> </h5>   </li>
                  <li> <h5> <span class="text-dark">Tunisie</span> <small class="text-success">: +216 51 783 886</small> </h5>   </li>
                  <li> <h5> <span class="text-dark">Angola</span> <small class="text-success">: +33 6 15 08 23 39</small> </h5>   </li>
                  <li> <h5> <span class="text-dark">RDC</span> <small class="text-success">: +243 81V64 30 806</small> </h5>   </li>
                </ul>

              </div>
              <div class="single-info">
                <i class="fa fa-envelope-open"></i>
                <h4 class="title">E-mail:</h4>
                <ul>
                  <li><a >info@hblux.fr</a></li>
                  <li><a >support@hblux.fr</a></li>
                </ul>
              </div>
              <div class="single-info">
                <i class="fa fa-location-arrow"></i>
                <h4 class="title">Notre adresse:</h4>
                <ul>
                  <li>Paris, France.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--/ End Contact -->

<!-- Map Section -->
<div class="map-section">
  <div id="myMap"></div>
</div>
<!--/ End Map Section -->


