<div class="container">
  <h1>Nouvel article</h1>
  <div >
    <section class="shop checkout section">
			<div class="container">
				<div class="row">
					<div  class="col-lg-12 col-12">
						<div class="checkout-form">
							<h2>Nouvel Article</h2>
							<p>Avant d'enregistrer vérifier si tous les champs sont bien remplis</p>
							<!-- Form -->
							<form class="form" [formGroup]="reactiveArticle" (ngSubmit)="onEnregistrerArticle() ">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Nom de l'article<span>*</span></label>
											<input type="text" formControlName="nom" placeholder="nom de l'article" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Type d'article<span>*</span></label>
											<select formControlName="typeArticle" class="form-control" >
												<option value="mixte" selected="selected">Mixte</option>
                        <option value="homme" >Homme</option>
                        <option value="femme" >Femme</option>
                        <option value="enfant" >Efant</option>
                        <option value="accessoire" >Accessoire</option>
											</select>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Prix de l'article<span>*</span></label>
											<input type="text" formControlName="prix" placeholder="0.00" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="row">
                      <div class="col-lg-6 col-md-6 col-6">
                        <div class="form-group">
                          <label>Quantité en stock<span>*</span></label>
                          <input type="number" formControlName="quantite" placeholder="0" required="required">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12">
                        <label class="custom-control custom-checkbox">Disponible
                          <input type="checkbox" formControlName="disponible" value="true" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description"></span>
                        </label>
                      </div>
                    </div>
									</div>


									<div class=" col-12">
										<div class="form-group">
											<label>Description<span>*</span></label>
                      <textarea formControlName="description"  prequired="required" class="form-control" cols="30" rows="5"></textarea>

										</div>
									</div>

									<div class="col-12">
                    <div class="form-group">
                      <label>Photos de l'article <span>*</span> </label>

                    </div>
										<div class="row">

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label>Photo <span>1</span></label>
                          <input type="file" formControlName="photo1" class="form-control-file"  >

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label>Photo <span>2</span></label>
                          <input type="file" formControlName="photo2" class="form-control-file"  >

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label>Photo <span>3</span></label>
                          <input type="file" formControlName="photo3" class="form-control-file"  >

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label>Photo <span>4</span></label>
                          <input type="file" formControlName="photo4" class="form-control-file"  >

                        </div>
                      </div>
										</div>
									</div>
                  <div  class="row">
                    <div class="col-12" >
                     <div *ngIf="!(reussi=='')" class="row">
                       <div class="col-6"></div>
                       <div class="col-6">
                         <div class="alert alert-warning" role="alert">
                          <h4 class="alert-heading">Résultat de l'enregistrement</h4>
                          <p>{{reussi}} </p>
                         </div>

                       </div>
                     </div>


                    </div>
                    <div class="col-12">
                      <button type="submit" (click)="succes() " class="btn btn-outline-success ">Enregistrer</button>
                    </div>

                  </div>
								</div>
							</form>
							<!--/ End Form -->
						</div>
					</div>

				</div>
			</div>
		</section>

  </div>
</div>
