<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row ">
              <div class="d-flex justify-content-lg-center align-items-lg-center">
                <div class="">
                  <div class="hero-text">
                    <h1>
                      <span>HBLUX </span>L'identité planetaire de la haute couture.</h1>
                    <h3> <br>
                      Découvrez notre nouvelle collection avec les articles de qualité supérieure
                    </h3>
                    <div class="mt-3 button">
                      <a  class="btn">Passer commande</a>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>

<div class="product-area most-popular section">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Hot Item</h2>
          </div>
        </div>
      </div>
      <div class="product-area section">
        <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="product-info">
          <div class="nav-main">
            <!-- Tab Nav -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Man</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Femme" role="tab">Woman</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Kids</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Accessories</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Essential</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a></li>
            </ul>
            <!--/ End Tab Nav -->
          </div>
          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div  class=" product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Article feminin</a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Article </a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Article Bags Collection</a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">

                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Pour les femmes </a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Article Bags Collection</a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">

                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Article pour Femme</a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Polo Dress For Femme</a></h3>
                        <div class="product-price">
                          <span>$29.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a routerLink="hbluxarticle" class="text-dark" >
                          <img class="default-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">
                          <img class="hover-img" src="../../../assets/images/103488860_692266048262428_3275418627549422573_n.jpg" alt="#">

                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Voir</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Apprécier</span></a>

                          </div>
                          <div class="product-action-2">
                            <a title="Ajouter au panier" href="#">Ajouter au panier</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3><a routerLink="hbluxarticle" class="text-dark" >Article</a></h3>
                        <div class="product-price">
                          <span class="old">$60.00</span>
                          <span>$50.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
        </div>
</div>
  </div>
</div>

<section class="section free-version-banner">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-8 offset-md-2 col-xs-12">
              <div class="section-title mb-60">
                  <span class="text-white wow fadeInDown" data-wow-delay=".2s"
      style="visibility: visible; animation-delay: 0.2s;
       animation-name: fadeInDown;">
        <h1><span class="text-warning hb" >Hb</span>
          <span class="text-secondary hb" > LUX</span></h1> </span>
       <h2>Ces espaces peuvent etre utilisés pour afficher les vidéos de pub et autres</h2>
                  <div class="d-flex justify-content-lg-center align-items-lg-center ">
          <div class="col-lg-7col-sm-12">
            <video width="600" height="500"  controls >
              <source src="videos/252295094_848717672478271_737522693952562495_n.mp4" type="video/mp4">
              <source src="https://web.facebook.com/269009673921403/videos/233121601325273" type="video/ogg">
              Votre navigateur ne supporte pas cette vidéo.
              </video>

          </div>

      </div>
                  <div class="button">
                      <a href="#" target="_blank" rel="nofollow" class="btn wow fadeInUp"
        data-wow-delay=".8s">Voir</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="shop-newsletter section">
  <div class="container">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <!-- Start Newsletter Inner -->
          <div class="inner">
            <h4>Newsletter</h4>
            <p>Abonnez-vous à notre newsletter et soyez  <span>à tout moment </span> au courant sur la nouvelle collection</p>
            <form  class="newsletter-inner">
              <input name="mail" placeholder="Votre adresse email" required="" type="email">
              <button class="btn">S'abonner</button>
            </form>
          </div>
          <!-- End Newsletter Inner -->
        </div>
      </div>
    </div>
  </div>
</section>


